>= 0.5%
last 2 major versions
not dead
Chrome >= 58
Firefox >= 58
Edge >= 16
Firefox ESR
iOS >= 10.3
Safari >= 10.1
Android >= 5
not ie < 12
not ie_mob < 12
Opera >= 44
not op_mob < 59
not op_mini all
Samsung >= 6.2